<div class="container">
  <div class="row">
    <div class="col-md-3">
      <%= image_tag "#{@book.image_url}",  :class => "image_book"%>
    </div>
    <div class="col-md-6" style="text-align:left;">
      <h1><%=@book.title%></h1>
      <p><%=@book.author%>（著）</p>
      <p><%=@book.editorial_review%></p>
    </div>
    <div class="col-md-3 borrow-information">
      <h3 style="text-align: center;">貸し出し状況</h3>

      <h4>借りる</h4>

      <%=form_tag create_borrows_path, method: 'post' do%>
        <%=hidden_field_tag :book_id, @book.id%>
        <%= date_field_tag :return_date%>
        <%= submit_tag '借りる'%>
      <%end%>

    </div>
  </div>

  <div class="row">
    <%=form_tag create_reviews_path, method: 'post' do%>
      <%= hidden_field_tag :book_id, @book.id%>
      <%=text_field_tag :degree%>
      <%=text_area_tag :content%>
      <%=submit_tag '投稿'%>
    <%end%>
  </div>

  <div class="row">
    <%@reviews.each do |review|%>
      <%=review.degree%>
      <%=review.content%>
      <br>
    <%end%>
  </div>

</div>
