<!DOCTYPE html>
<html>
<head>
  <title>BooksProject</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <%= favicon_link_tag('assets/favicon.ico') %>

</head>
<body>
  <header>
    <div class="navigation-bar">
      <div class="continer">
        <div class="row">
          <div class="col-md-2">
            <%=link_to root_path do%>
              <i class="fa fa-amazon  fa-3x"></i>
            <%end%>

          </div>

          <form action="/" name="search" method="get" class="search-form col-md-offset-1 col-md-6">
            <form action="/" name="search2" method="post">
              <dl class="search2">
                <dt><input type="text" name="search" value="" placeholder="type" /></dt>

                <dd><button><i class="fa fa-search fa-1x"></i></button></dd>
              </dl>
            </form>
          </form>
          <div class="col-md-1">
            <%if user_signed_in?%>
              <%=link_to destroy_user_session_path, class: "login-logout", method: 'delete' do%>
                Logout
              <%end%>
            <%else%>
              <%=link_to new_user_session_path class: "login-logout" do%>
                Login
              <%end%>
            <%end%>
          </div>
          <div class="col-md-2">
            <%= link_to 'ユーザページ',user_profile_path %>
          </div>
        </div>
      </div>
    </div>
  </header>

<div class="container">
  <%= bootstrap_flash %>

</div>

<%= yield %>

<div class="plus">
  +
</div>

</body>
</html>
